body {
	overflow: hidden;
}

.video-container {
    position: relative;
    padding-bottom: 70vw;
    margin: 0px;
    margin-right: 15px;
    width: 112%; 
	right: 10px;
	top: -10px;
	overflow: hidden;
}
 
.video-container iframe,
.video-container object,
.video-container embed {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 93%;
}

@font-face {
    font-family: myFirstFont;
    text-transform: uppercase;
    src: url("Reglo-Bold.otf");

}

.text-block {
	position: fixed;
	font-family: myFirstFont;
	line-height: 1.5vw;
	letter-spacing: 1.2px;
	font-size: 1.1vw;
	text-transform: uppercase;
	padding: 1vw;
	background-color: blue, 0;
	color: black;
	font-family: myFirstFont;
	transition: all 0.8s ease;
	z-index: 2;
}

.one {
	width: 23vw;
	left: 3vw;
	top: 7vw;
}

.two {
	width: 23vw;
	left: 11vw;
	top: 30vw;
}


.title-block {
	position: fixed;
	font-family: myFirstFont;
	padding: 2vw;
	background-color: black;
	color: white;
	line-height: 1:1.1;
	letter-spacing: 1.2px;
	font-size: 4vw;
	left: 38vw;
	top: 2vw;
	width: 23vw;
	z-index: 2;
}

.info-block {
	position: fixed;
	background-color: blue, 0;
	font-family: myFirstFont;
	color: black;
	line-height: 1.5vw;
	letter-spacing: 1.2px;
	font-size: 1.1vw;
	text-transform: uppercase;
	padding: 1vw;
	top: 2vw;
	right: 2vw;
	width: 16vw;
	z-index: 1;

}

.seven {
	width: 23vw;
	left: 68vw;
	top: 14vw;
}

.eight {
	width: 23vw;
	top: 28vw;
	left: 72vw;
}

#marked {
	background-color: white;
	color: white;
	transition: all 0.3s ease;
}

#marked:hover {
	background-color: black;
	color: white;
}
.info-block:hover {
	background-color: black;
	color: white;
}

.text-block:hover {
	background-color: black;
	color: white;
}








